html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*

size

*/

html, body {
    height: 100%;
}

/* Header */

header {
    display: block;
    padding: 20px 50px;
    min-height: 100px;
    background-color: #2576C5;
    background-image: url("../Images/147857732.jpg");
}

header h1 {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-family: Verdana;
    font-size: 2em;
    font-weight: bold;
    color: white;
}

header div a {
    display: inline-block;
    padding: 10px 20px;
    float: right;
    background-color: #184177;
    margin: 0 20px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-family: Arial;
    font-size: 1.1em;
}

header div a:hover {
    color: #184177;
    background-color: white;
}

div {
    padding: 20px 0;
}

header div input {
    padding:6px 15px 6px 30px;
	margin:3px; 
	background: url('../images/search.png') no-repeat 8px 6px;
    background-color: white;
	border-radius:15px; 
    /*float: right;*/
	-moz-border-radius:15px; 
	-webkit-border-radius:15px; 
}

/* aside */ 

aside {    
    display: inline-block;
    width: 20%;
    min-height: 100%;
    padding: 80px 20px;
    background-color: #6699DB;
    vertical-align: top;
}
aside .carte {
    background-color: #184177;
    padding: 30px;
}

aside .carte:hover {
    background-color: #053566;
}

aside .carte h2 {
    color: white;
    font-family: Arial;
    font-size: 1.5em;
    padding-bottom: 5px;
    border-bottom: solid 2px white;
}

aside .carte li {
    color: white;
    margin : 10px 20px;
    font-family: Arial;
    font-size: 1.1em;
}

/* Formulaire */

.Boite {
    width: 800px;
    margin: auto;
    vertical-align: middle;
    height: auto;
    border: black 2px dashed;
}

.Boite h2 {
    width: 100%;
    background-color: blanchedalmond;
    text-align: center;
    font-family: Arial;
    font-size: 1.2em;
    padding: 10px 0;
    color: black;
}

.Boite p {
    margin: 5px 0px;
}

.Boite form {
    padding: 15px;
    min-height: 10px;
    text-align: center;
    font-family: Arial;
    margin-bottom: 20px;
}

.Boite strong {
    font-weight: bold;
    margin: 10px 0;
}

.Boite form .Home {
    float: left;
}

/* case produit */

.conteneur {
    width: 76%;
    display: inline-block;
}

div.produit {
    display: inline-block;
    text-align: center;
    width: 20%;
    background-color: #053566;
    margin: 20px;
    border-radius: 10px;
    background-color: 
    border-spacing: 5px;
    height: 280px;
    min-width: 200px;
    max-width: 600px;
    vertical-align: middle;
}

.produit img{
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 3px;
    text-align: center;
    background-color: white;
    padding: 10px;
}

.produit div span {
    border-radius: 3px;
    margin: 0 auto;
    display: block;
    padding: 5px;
    background-color: white;
    margin-bottom: 10px;
    width: 90%;
}

.produit div span:first-child{
    font-size: 1.1em;
    font-family: Arial;
}

.produit div span:last-child{
    font-family: Calibri;
    color: #184177;
    vertical-align: bottom;
}